<link type="text/css" rel="stylesheet" href="/ViewStyles/Common/effectOptionsDialog.css" />

<div class="effectoptionsdialog">
    <div class="modalheader"><strong>Effect Options</strong><span class="close" ng-click="$close()">&#10006;</span></div>
    <hr />
    <div class="modalbody" ng-init="EffectOptions_OnInit()">
        <div style="position: relative;">
            <canvas class="demo"></canvas>
            <canvas style="position: absolute; left: 0; top: 0;" class="overlay" ng-mousemove="Overlay_MouseMove($event)" ng-show="['EFFECTS_ZOOMBLUR', 'EFFECTS_SWIRL', 'EFFECTS_HEXAGONALPIXELATE'].indexOf(model.effect) &gt; -1"></canvas>
        </div>
        <div ng-show="['EFFECTS_SWIRL', 'EFFECTS_LENSBLUR'].indexOf(model.effect) &gt; -1">
            Angle:&nbsp;<div class="angle"></div>
        </div>
        <div ng-show="['EFFECTS_BASICBLURIMAGE', 'EFFECTS_SWIRL', 'EFFECTS_UNSHARPMASK', 'EFFECTS_LENSBLUR'].indexOf(model.effect) &gt; -1">
            Radius:&nbsp;<div class="radius"></div>
        </div>
        <div ng-show="['EFFECTS_INK', 'EFFECTS_ZOOMBLUR', 'EFFECTS_UNSHARPMASK'].indexOf(model.effect) &gt; -1">
            Strength:&nbsp;<div class="strength"></div>
        </div>
        <div ng-show="['EFFECTS_BNC', 'EFFECTS_LENSBLUR'].indexOf(model.effect) &gt; -1">
            Brightness:&nbsp;<div class="brightness"></div>
        </div>
        <div ng-show="['EFFECTS_BNC'].indexOf(model.effect) &gt; -1">
            Contrast:&nbsp;<div class="contrast"></div>
        </div>
        <div ng-show="['EFFECTS_HNS'].indexOf(model.effect) &gt; -1">
            Hue:&nbsp;<div class="hue"></div>
        </div>
        <div ng-show="['EFFECTS_HNS'].indexOf(model.effect) &gt; -1">
            Saturation:&nbsp;<div class="saturation"></div>
        </div>
        <div ng-show="['EFFECTS_VIGNETTE'].indexOf(model.effect) &gt; -1">
            Size:&nbsp;<div class="size"></div>
        </div>
        <div ng-show="['EFFECTS_NOISE', 'EFFECTS_VIBRANCE', 'EFFECTS_SEPIA', 'EFFECTS_VIGNETTE'].indexOf(model.effect) &gt; -1">
            Amount:&nbsp;<div class="amount"></div>
        </div>
        <div ng-show="['EFFECTS_DENOISE'].indexOf(model.effect) &gt; -1">
            Exponent:&nbsp;<div class="exponent"></div>
        </div>
        <div ng-show="['EFFECTS_HEXAGONALPIXELATE'].indexOf(model.effect) &gt; -1">
            Scale:&nbsp;<div class="scale"></div>
        </div>
    </div>
    <div class="modalfooter">
        <button class="btn btn-primary" ng-click="Save_OnClick($event)">Save</button>
        <button class="btn" ng-click="$close()">Cancel</button>
    </div>
</div>
