<link type="text/css" rel="stylesheet" href="/ViewStyles/Common/Styles/spotInfoDialog.css" />

<div class="spotinfodialog">
    <div class="modalheader"><strong>Door Info</strong><span class="close" ng-click="$close()">&#10006;</span></div>
    <hr />
    <div class="modalbody">
        <label for="name">Name:</label><input id="name" type="text" ng-model="model.name" />
        <br />
        <label for="name">Destination:</label><select id="dest" ng-model="model.dest" ng-options="room.id as room.name for room in roomList"></select>
        <br />
        <label for="script">Script:</label>
        <br />
        <textarea id="script" ng-model="model.script"></textarea>
        <hr />
        <input id="Draggable" name="flags" type="checkbox" ng-model="flags.Draggable" /><label for="Draggable">Draggable</label>
        <input id="DontMoveHere" name="flags" type="checkbox" ng-model="flags.DontMoveHere" /><label for="DontMoveHere">Dont Move Here</label>
        <input id="Invisible" name="flags" type="checkbox" ng-model="flags.Invisible" /><label for="Invisible">Invisible</label>
        <input id="ShowFrame" name="flags" type="checkbox" ng-model="flags.ShowFrame" /><label for="ShowFrame">Show Frame</label>
        <input id="Shadow" name="flags" type="checkbox" ng-model="flags.Shadow" /><label for="Shadow">Shadow</label>
        <input id="Fill" name="flags" type="checkbox" ng-model="flags.Fill" /><label for="Fill">Fill</label>
        <input id="Forbidden" name="flags" type="checkbox" ng-model="flags.Forbidden" /><label for="Forbidden">Forbidden</label>
        <input id="Mandatory" name="flags" type="checkbox" ng-model="flags.Mandatory" /><label for="Mandatory">Mandatory</label>
        <input id="LandingPad" name="flags" type="checkbox" ng-model="flags.LandingPad" /><label for="LandingPad">Landing Pad</label>
    </div>
    <div class="modalfooter">
        <button class="btn btn-primary" ng-click="Save_OnClick($event)">Save</button>
        <button class="btn" ng-click="$close()">Cancel</button>
    </div>
</div>
