<link type="text/css" rel="stylesheet" href="/ViewStyles/Common/spotInfoDialog.css" />

<div class="spotinfodialog">
    <div class="modalheader"><strong>Door Info</strong><span class="close" ng-click="$close()">&#10006;</span></div>
    <hr />
    <div class="modalbody">
        <label for="name">Name:</label><input id="name" type="text" ng-model="model.name" />
        <br />
        <label for="type">Type:</label><select id="type" ng-model="model.type" ng-options="spotvalue as spotkey for ( spotkey, spotvalue ) in spotTypes"></select>
        <br />
        <label for="name">Destination:</label><select id="dest" ng-model="model.dest" ng-options="room.id as room.name for room in roomList"></select>
        <br />
        <button ng-click="ScriptEditor_OnClick($event)">Edit Script</button>
        <br />
        <button ng-click="StateEditor_OnClick($event)">Picture Editor</button>
        <hr />
        <input id="Draggable" name="flags" type="checkbox" ng-model="flags.Draggable" />&nbsp;<label for="Draggable">Draggable</label>
        <br />
        <input id="DontMoveHere" name="flags" type="checkbox" ng-model="flags.DontMoveHere" />&nbsp;<label for="DontMoveHere">Dont Move Here</label>
        <br />
        <input id="Invisible" name="flags" type="checkbox" ng-model="flags.Invisible" />&nbsp;<label for="Invisible">Invisible</label>
        <br />
        <input id="ShowFrame" name="flags" type="checkbox" ng-model="flags.ShowFrame" />&nbsp;<label for="ShowFrame">Show Frame</label>
        <br />
        <input id="Shadow" name="flags" type="checkbox" ng-model="flags.Shadow" />&nbsp;<label for="Shadow">Shadow</label>
        <br />
        <input id="Fill" name="flags" type="checkbox" ng-model="flags.Fill" />&nbsp;<label for="Fill">Fill</label>
        <br />
        <input id="Forbidden" name="flags" type="checkbox" ng-model="flags.Forbidden" />&nbsp;<label for="Forbidden">Forbidden</label>
        <br />
        <input id="Mandatory" name="flags" type="checkbox" ng-model="flags.Mandatory" />&nbsp;<label for="Mandatory">Mandatory</label>
        <br />
        <input id="LandingPad" name="flags" type="checkbox" ng-model="flags.LandingPad" />&nbsp;<label for="LandingPad">Landing Pad</label>
    </div>
    <div class="modalfooter">
        <button class="btn btn-primary" ng-click="Save_OnClick($event)">Save</button>
        <button class="btn" ng-click="$close()">Cancel</button>
    </div>
</div>
