div.clientsettings {
    padding: 10px;
}

    div.clientsettings div.modalheader {
        text-align: center;
    }

        div.clientsettings div.modalheader span.close {
            float: right;
            cursor: pointer;
        }

    div.clientsettings div.modalbody {
        padding-top: 10px;
    }

    div.clientsettings div.modalfooter {
        text-align: right;
    }

        div.clientsettings div.modalfooter button {
            padding: 10px;
        }
