div.propeditordialog {
    padding: 10px;
}

    div.propeditordialog div.modalheader {
        text-align: center;
    }

        div.propeditordialog div.modalheader span.close {
            float: right;
            cursor: pointer;
        }

    div.propeditordialog ul li {
        display: inline-block;
        list-style: none;
    }

    div.propeditordialog div.modalbody {
        padding-top: 10px;
    }

        div.propeditordialog div.modalbody div#bgcolor,
        div.propeditordialog div.modalbody div#fgcolor {
            border: 1px solid black;
            display: inline-block;
            height: 32px;
            width: 32px;
        }

        div.propeditordialog div.modalbody div#options {
        }

            div.propeditordialog div.modalbody div#options input.tooloptions {
                max-width: 68px;
                width: 68px;
            }

        div.propeditordialog div.modalbody ul#toolbar {
            background-color: lightgray;
            width: 68px;
            padding: 0;
            margin: 0;
        }

            div.propeditordialog div.modalbody ul#toolbar li.tool {
                background-position: -49px -49px;
                border: 1px solid transparent;
                border-radius: 3px;
                padding: 2px;
                height: 32px;
                width: 32px;
                float: left;
            }

                div.propeditordialog div.modalbody ul#toolbar li.tool:nth-child(odd) {
                    margin-right: 2px;
                }

                div.propeditordialog div.modalbody ul#toolbar li.tool:nth-child(even) {
                    margin-left: 2px;
                }

                div.propeditordialog div.modalbody ul#toolbar li.tool:hover,
                div.propeditordialog div.modalbody ul#toolbar li.tool.selected {
                    border: 1px solid black;
                }

                div.propeditordialog div.modalbody ul#toolbar li.tool img.toolicon {
                    height: 32px;
                    width: 32px;
                }

        div.propeditordialog div.modalbody ul#layersbar {
            background-color: lightgray;
            width: 200px;
            padding: 0;
            margin: 0;
        }

            div.propeditordialog div.modalbody ul#layersbar li.layer {
                border: 1px solid transparent;
                background-color: gray;
                border-radius: 3px;
                width: 150px;
                padding: 0;
                margin: 0;
            }

                div.propeditordialog div.modalbody ul#layersbar li.layer:hover,
                div.propeditordialog div.modalbody ul#layersbar li.layer.selected {
                    border: 1px solid black;
                }

                div.propeditordialog div.modalbody ul#layersbar li.layer span.visibility {
                    display: inline-block;
                    font-weight: bold;
                    cursor: pointer;
                }

                div.propeditordialog div.modalbody ul#layersbar li.layer span.name {
                    display: inline-block;
                    font-weight: bold;
                    cursor: pointer;
                }

        div.propeditordialog div.modalbody ul#historybar,
        div.propeditordialog div.modalbody ul#redobar {
            background-color: lightgray;
            width: 200px;
            padding: 0;
            margin: 0;
        }

            div.propeditordialog div.modalbody ul#historybar li.history,
            div.propeditordialog div.modalbody ul#redobar li.redo {
                border: 1px solid transparent;
                background-color: gray;
                border-radius: 3px;
                width: 150px;
                padding: 0;
                margin: 0;
            }

                div.propeditordialog div.modalbody ul#historybar li.history:hover,
                div.propeditordialog div.modalbody ul#historybar li.history.selected,
                div.propeditordialog div.modalbody ul#redobar li.redo:hover,
                div.propeditordialog div.modalbody ul#redobar li.redo.selected {
                    border: 1px solid black;
                }

                div.propeditordialog div.modalbody ul#historybar li.history span.label {
                    display: inline-block;
                    font-weight: bold;
                    cursor: pointer;
                    color: black;
                }

                div.propeditordialog div.modalbody ul#redobar li.redo span.label {
                    display: inline-block;
                    font-style: italic;
                    font-weight: bold;
                    cursor: pointer;
                    color: darkgray;
                }

        div.propeditordialog div.modalbody div.filecontainer {
            position: absolute;
        }

        div.propeditordialog div.modalbody span.button {
            border: 1px solid transparent;
            padding-left: 5px;
            padding-right: 5px;
            float: right;
        }

            div.propeditordialog div.modalbody span.button:hover {
                border: 1px solid black;
            }

        div.propeditordialog div.modalbody div.filecontainer canvas.editor {
        }

    div.propeditordialog div.modalfooter {
        text-align: right;
    }

        div.propeditordialog div.modalfooter button {
            padding: 10px;
        }
