div.roominfodialog {
    padding: 10px;
}

div.roominfodialog div.modalheader {
    text-align: center;
}

    div.roominfodialog div.modalheader span.close {
        float: right;
        cursor: pointer;
    }

div.roominfodialog div.modalbody {
    padding-top: 10px;
}

div.roominfodialog div.modalfooter {
    text-align: right;
}

    div.roominfodialog div.modalfooter button {
        padding: 10px;
    }
